<!--<div data-th-include="zhuang/import"></div>-->
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <div id="data-table_wrapper" class="dataTables_wrapper">
                <div class="dataTables_buttons hidden-sm-down actions">
                    <span class="actions__item zmdi zmdi-search" onclick="search()" title="搜索" />
                    <span class="actions__item zmdi zmdi-refresh-alt" onclick="refresh()" title="刷新" />
                    <div class="dropdown actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-download">
                        </i>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="excel" onclick="exportJobExcel()">
                                Excel (.xlsx)
                            </a>
                            <a href="javascript:void(0)" class="dropdown-item" data-table-action="csv" onclick="exportJobCsv()">
                                CSV (.csv)
                            </a>
                        </ul>
                    </div>
                    <div class="dropdown actions__item" shiro:hasAnyPermissions="ziliao:list">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="javascript:void(0)" class="dropdown-item" data-toggle="modal" data-target="#import-all" shiro:hasPermission="import:all">导入数据</a>
                        </div>
                    </div>
                </div>
                <div id="data-table_filter" class="dataTables_filter">
                    <form class="ziliao-table-form">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" th:text="${searchOptions[0]}">
					            </span>
                                    <div class="form-group">
                                        <input type="text" th:name="${searchItems[0]}" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" th:text="${searchOptions[1]}">
					            </span>
                                    <div class="form-group">
                                        <input type="text" th:name="${searchItems[1]}" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" th:text="${searchOptions[2]}">
					            </span>
                                    <div class="form-group">
                                        <input type="text" th:name="${searchItems[2]}" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" th:text="${searchOptions[3]}">
					            </span>
                                    <div class="form-group">
                                        <input type="text" th:name="${searchItems[3]}" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" th:text="${searchOptions[4]}">
					            </span>
                                    <div class="form-group">
                                        <input type="text" th:name="${searchItems[4]}" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" th:text="${searchOptions[5]}">
					            </span>
                                    <div class="form-group">
                                        <input type="text" th:name="${searchItems[5]}" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" th:text="${searchOptions[6]}">
					            </span>
                                    <div class="form-group">
                                        <input type="text" th:name="${searchItems[6]}" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" th:text="${searchOptions[7]}">
					            </span>
                                    <div class="form-group">
                                        <input type="text" th:name="${searchItems[7]}" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <span class="input-group-addon" th:text="${searchOptions[8]}">
					            </span>
                                    <div class="form-group">
                                        <input type="text" th:name="${searchItems[8]}" class="form-control">
                                        <i class="form-group__bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="table-responsive">
                    <table id="ziLiaoTable" data-mobile-responsive="true" class="mb-bootstrap-table text-nowrap"></table>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-th-src="@{js/app/zhuang/ziLiao.js}"></script>